---
import { Briefcase } from "astro-feather-icons";
import {
  Amazonaws,
  Amazondynamodb,
  Apollographql,
  Awslambda,
  Cypress,
  Datadog,
  Discord,
  Docker,
  Firebase,
  Javascript,
  Jest,
  Metabase,
  Mongodb,
  Mysql,
  Nestjs,
  Nextdotjs,
  Nodedotjs,
  Nx,
  Php,
  Prisma,
  Puppeteer,
  Python,
  React,
  Redis,
  Redux,
  Serverless,
  Snowflake,
  Socketdotio,
  Sqlite,
  Trpc,
  Twilio,
  Typescript,
  Wix,
  Wordpress,
} from "simple-icons-astro";
import { EXPERIENCES } from "../../constants";
import ExperienceItem from "../ExperienceItem.astro";
import TechnologiesWrapper from "../TechnologiesWrapper.astro";
const ICON_CLASS = "fill-indigo-400 dark:fill-white";
---

<section class="w-full">
  <header
    class="font-bold text-2xl text-indigo-500 dark:text-gray-100 mb-6 flex items-center gap-3 mt-6"
  >
    <h2>Experience</h2>
    <Briefcase size="24" />
  </header>
  <div class="ml-2">
    <ExperienceItem {...EXPERIENCES[0]}>
      <TechnologiesWrapper slot="technologies">
        <Amazonaws class={ICON_CLASS} />
        <Jest class={ICON_CLASS} />
        <Cypress class={ICON_CLASS} />
        <Nextdotjs class={ICON_CLASS} />
        <Prisma class={ICON_CLASS} />
        <Mysql class={ICON_CLASS} />
        <Mongodb class={ICON_CLASS} />
        <Typescript class={ICON_CLASS} />
        <Python class={ICON_CLASS} />
        <Apollographql class={ICON_CLASS} />
        <Trpc class={ICON_CLASS} />
        <Docker class={ICON_CLASS} />
        <Twilio class={ICON_CLASS} />
        <Socketdotio class={ICON_CLASS} />
        <Snowflake class={ICON_CLASS} />
        <Metabase class={ICON_CLASS} />
        <Datadog class={ICON_CLASS} />
      </TechnologiesWrapper>
    </ExperienceItem>

    <ExperienceItem {...EXPERIENCES[1]}>
      <TechnologiesWrapper slot="technologies">
        <Amazonaws class={ICON_CLASS} />
        <Awslambda class={ICON_CLASS} />
        <Amazondynamodb class={ICON_CLASS} />
        <Serverless class={ICON_CLASS} />
        <Nestjs class={ICON_CLASS} />
        <Jest class={ICON_CLASS} />
        <Cypress class={ICON_CLASS} />
        <React class={ICON_CLASS} />
        <Redux class={ICON_CLASS} />
        <Typescript class={ICON_CLASS} />
        <Mongodb class={ICON_CLASS} />
        <Redis class={ICON_CLASS} />
        <Nx class={ICON_CLASS} />
      </TechnologiesWrapper>
    </ExperienceItem>
    <ExperienceItem {...EXPERIENCES[2]}>
      <TechnologiesWrapper slot="technologies">
        <Wix class={ICON_CLASS} />
        <Javascript class={ICON_CLASS} />
        <Nodedotjs class={ICON_CLASS} />
        <Mongodb class={ICON_CLASS} />
        <Puppeteer class={ICON_CLASS} />
        <Discord class={ICON_CLASS} />
        <React class={ICON_CLASS} />
        <Typescript class={ICON_CLASS} />
      </TechnologiesWrapper>
    </ExperienceItem>
    <ExperienceItem {...EXPERIENCES[3]}>
      <TechnologiesWrapper slot="technologies">
        <Wordpress class={ICON_CLASS} />
        <Php class={ICON_CLASS} />
        <Nodedotjs class={ICON_CLASS} />
        <Javascript class={ICON_CLASS} />
        <Python class={ICON_CLASS} />
        <Firebase class={ICON_CLASS} />
        <Sqlite class={ICON_CLASS} />
      </TechnologiesWrapper>
    </ExperienceItem>
  </div>
</section>
