---
import { Status } from "../Badge.astro";

interface Props {
  title: string;
  description: string;
  status: Status;
}
const { title, description, status } = Astro.props;

import Avatar from "../Avatar.astro";
import Badge from "../Badge.astro";
import ResumeButton from "../Buttons/Resume.astro";
import ProfileDescription from "../ProfileDescription.astro";
const imageSrc =
  "https://media.licdn.com/dms/image/D4E03AQH9IWept7Mwlw/profile-displayphoto-shrink_200_200/0/1685364458712?e=1709164800&v=beta&t=eyiIn7WZ4aro0ULYSLJm9KSN1nN9bRnDMtpW9PCf0t0";
---

<section class="flex flex-col sm:flex-row items-center gap-5">
  <Avatar src={imageSrc} srcset={imageSrc} />
  <div class="flex flex-col items-center sm:items-start gap-3">
    <ProfileDescription title={title} description={description} />
    <div class="flex gap-3">
      <div class="relative group/tooltip">
        <Badge status={status} />
      </div>
      <ResumeButton
        href="cesar_perez_fullstack_engineer.pdf"
        downloadFileName="CV-Cesar-Perez.pdf"
      />
    </div>
  </div>
</section>
